body {
	background-color: white;
}

.center-div {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 800px;
	height: 450px;
	background-color: #eff4ff;
	border-radius: 20px;
}
#tri1,
#tri2,
#tri3,
#tri4,
#tri5,
#tri6,
#tri7 {
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 100px solid white;
}

#tri1 {
	position: absolute;
	top: 50px;
	left: 50px;
	/*transform: translate(50%, 50%);*/
}

#tri2 {
	position: absolute;
	top: 160px;
	left: 30px;
	/*  transform: translate(20%, 160%);*/
}

#tri3 {
	position: absolute;
	bottom: 50px;
	left: 140px;
	/*  transform: translate(120%, 300%);*/
}

#tri4 {
	position: absolute;
	top: 80px;
	left: 360px;
	/*  transform: translate(300%, 80%);*/
}

#tri5 {
	position: absolute;
	top: 50px;
	right: 40px;
	/*  transform: translate(530%, 50%);*/
}

#tri6 {
	position: absolute;
	top: 160px;
	right: 105px;
	/*  transform: translate(480%, 160%);*/
}

#tri7 {
	position: absolute;
	bottom: 50px;
	left: 330px;
	/*  transform: translate(280%, 300%);*/
}

#tri8,
#tri9,
#tri10,
#tri11 {
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 100px solid #bcceff;
}

#tri8 {
	position: absolute;
	top: 50px;
	left: 130px;
	/*  transform: translate(110%, 50%);*/
}

#tri9 {
	position: absolute;
	bottom: 50px;
	left: 60px;
	/*  transform: translate(50%, 300%);*/
}

#tri10 {
	position: absolute;
	top: 190px;
	left: 360px;
	/*  transform: translate(300%, 190%);*/
}

#tri11 {
	position: absolute;
	top: 150px;
	right: 175px;
	/*  transform: translate(420%, 150%);*/
}

#tri12,
#tri13,
#tri14 {
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 100px solid white;
}

#tri12 {
	position: absolute;
	top: 180px;
	left: 120px;
	/*  transform: translate(100%, 180%) ;*/
}

#tri13 {
	position: absolute;
	top: 70px;
	left: 290px;

	/*  transform: translate(240%, 70%) ;*/
}

#tri14 {
	position: absolute;
	bottom: 50px;
	right: 50px;
	/*  transform: translate(530%, 300%);*/
}

#tri15,
#tri16 {
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 100px solid #dbe6ff;
}

#tri15 {
	position: absolute;
	left: 230px;
	top: 200px;
	/*  transform: translate(200%, 200%);*/
}

#tri16 {
	position: absolute;
	bottom: 50px;
	right: 130px;
	/*  transform: translate(450%, 300%);*/
}

p {
	font-family: 'Source Serif Pro', serif;
	color: #e1e5f2;
}

#i {
	position: absolute;
	font-size: 80px;
	top: 70px;
	left: 100px;
	/*  transform: translate(400%, 30%);*/
}

#n {
	position: absolute;
	font-size: 70px;
	top: 10px;
	left: 220px;
	/*  transform: translate(500%, 10%);*/
}

#t {
	position: absolute;
	font-size: 80px;
	bottom: -50px;
	left: 230px;
	/*  transform: translate(890%, 90%);*/
}

#e {
	position: absolute;
	font-size: 80px;
	bottom: 10px;
	left: 360px;
	/*  transform: translate(900%, 70%);*/
}

#r {
	position: absolute;
	font-size: 80px;
	bottom: 10px;
	left: 400px;
	/*  transform: translate(1200%, 70%);*/
}

#a {
	position: absolute;
	font-size: 80px;
	top: -40px;
	right: 270px;
	/*  transform: translate(1200%, -10%);*/
}

#c {
	position: absolute;
	font-size: 60px;
	top: 150px;
	right: 250px;
	/*  transform: translate(1800%, 80%);*/
}

#t1 {
	position: absolute;
	font-size: 100px;
	bottom: -10px;
	right: 70px;
	/*  transform: translate(2150%, 40%);*/
}
